{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
</style>
{% endblock extra-style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<br/>
<h1>첫 페이지(이미지)</h1>
<br/>
<a class="navbar-brand" href="{% url 'community:lecture' %}" style="font-size:25px;">
    <button type="button" class="btn">
        바로 가기(클릭)
    </button>
</a>
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block extra-script %}
<script>
    $(function () {
        $('[data-toggle=tooltip]').tooltip();
    });
</script>
{% endblock extra-script %}