{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<head>
        <meta charset="UTF-8">
        <title>컴공 독강러를 위한 길라잡이 | 게시판</title>
        <link rel="stylesheet" href="./postboard.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR|Song+Myung&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Gothic+A1|Nanum+Myeongjo&display=swap" rel="stylesheet">
</head>

<style>
body{
}
#header{
    width:1200px;
    position:relative;
    margin:0 auto;
}
.top-menu a {
    text-decoration: none;
    color:black;
    font-size:14px;
    font-family: 'Song Myung', serif;

}
.top-menu a:hover{
    color:cornflowerblue;
}
.top-menu{
   text-align:right;
}


.top-wrap{
    height:100px;
    position: relative;
    border-bottom:1px solid black;
}
div{
    display:block;
}
a{
    text-decoration: none;


}
hr{
    color:rgb(233, 231, 231);
}
p{
    color:black;
    font-size:20px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight:bold;
    
}

 p:hover{
    color:cornflowerblue;
}
time{
    font-family: 'Song Myung', serif;
    float:right;
    color:black;

}
h2{
    border-bottom:2px solid rgb(233, 231, 231);
    background:rgb(240, 236, 236);
    color:cornflowerblue; 
    font-family: 'Song Myung', serif;
   
}
h2 a{
    color:cornflowerblue; 
    font-family: 'Song Myung', serif;
}
h1{
    font-family: 'Song Myung', serif;

}
strong{
    color:cornflowerblue;
}
section{
    border-top:1px solid black;
    margin: 15px;
    padding: 15px;
    text-align: center;
}
section .card{   
    padding: 8px 2px 4px 2px;
    box-sizing: border-box;
    float: left;
    margin: 0px 0px 0px 100px; 
    width: 250px;
    border: 3px solid rgb(233, 231, 231);
    overflow: hidden;
    border-radius: 30px;
    
}
.writepost{
    display: block;
    margin-bottom: 5px;
    padding: 0 10px;
    height: 50px;
    line-height: 46px;
    border: 2px solid #d6d6d6;
    box-sizing: border-box;
    cursor: text;
    color: #807d7d;
    font-size: 14px;
    background: #e7e0e0  ;
}

.board-list{
    border:1px solid cornflowerblue;
    border-radius:12px;
    border-color:black;
    /* box-shadow: 0 0 10px 5px cornflowerblue; */
    margin-top:10px;
    margin-bottom:10px;
    margin-left:15px;
    margin-right:15px;
    padding:25px;
}

.update-or-delete{
    display: inline-block;
}
h5, h6 {
    display: inline;
}

.user-name:hover {
  color: #81c147 !important;
}
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<body>
    <br>
    <div style="text-align: center">
    <a href="{% url 'community:lecture' %}" class="button logo"><img src="/static/img/reading.png" alt="mainlogo"></a>
</div>
    <br>
    <section>
            <div class="container" id="app">
                    <br>
            <h1>
                <div>
                        <strong>{{lecture_name}}</strong> 게시판
                </div>
            </h1><br>
            
            <div class="row" style="margin-bottom: 10px;">    
                <div class="card">
                <h2>
                    <div @click=selectCategory(1)  >
                        <div>스터디</div>
                    </div>
                </h2>
                </div>
                <div class="card">
                <h2>
                    <div @click=selectCategory(2) >
                        <a><div>팀플</div></a>
                    </div>
                </h2>
                </div>
                <div class="card">
                <h2>
                    <div @click=selectCategory(3) >
                        <a><div>강의 후기</div></a>
                    </div>
                </h2>
                </div>
                <div class="col-4 rest-space"></div>
            </div>
           <br>
            <div style="text-align: right; margin-right:15px;">
            <a href="{% url 'community:lecture' %}"><button class="btn btn-success btn-sm">강의 바로가기</button></a>
            <a href="{% url 'community:create_board' lecture_pk %}"><button class="btn btn-primary btn-sm">게시글 작성하기</button></a>
            </div>
            <div style="text-align: left;">
                <div v-if="selectedContent === 1">
                    <div>
                        {% for study in studies %}
                        <div class="board-list">
                            <h4 class="user-name" style="color:cornflowerblue" @click="messageModalOpen({{study.user.id}})">작성자: {{study.user}}</h4>

                            <div class="modal fade" id="{{study.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{study.user}}님에게 쪽지 보내기</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'community:create_message' study.user.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" placeholder="쪽지를 입력하세요"></textarea>
                                        </div>
                                        <input style="display:none;" type="text" name='lecture_pk' value={{lecture_pk}}>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" type="submit" value="작성완료">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right;">
                            <h6>
                            작성일: {{study.created_at|date:'Y년 m월 d일 H시 i분'}}
                            <!-- &nbsp;&nbsp;&nbsp; -->
                                <!-- 댓글수: {{study.hits}}--><br>
                                {% if request.user == study.user %}
                                <a href="{% url 'community:update_board' study.pk %}">수정하기</a>
                                <a href="{% url 'community:delete_board' study.pk %}" onclick="return confirm('해당 스터디 게시물을 삭제하시겠습니까?');">삭제하기</a>
                                {% endif%}
                            </h6>
                            </div>
                            <h4>
                            <strong style="color:black">제목: {{study.title}}</strong></h4><br>
                            <h5>
                            {{study.content}}<br></h5>
                            <!-- 좋아요 수: {{study.good}}<br>
                            모집 완료 여부: {{study.is_completed}}<br></h5> -->
                            <hr>
                            {% for study_reply in study_replys %}
                            {% ifequal study_reply.board study %}
                            <strong class="user-name" style="color:black" @click="messageModalOpen({{study_reply.user.id}})">{{study_reply.user}}</strong>

                            <div class="modal fade" id="{{study_reply.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{study_reply.user}}님에게 쪽지 보내기</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'community:create_message' study_reply.user.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" placeholder="쪽지를 입력하세요"></textarea>
                                        </div>
                                        <input style="display:none;" type="text" name='lecture_pk' value={{lecture_pk}}>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" type="submit" value="작성완료">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            &nbsp;&nbsp;{{study_reply.content}}<br>
                            {% if request.user == study_reply.user %}
                            <a style="color:blue" data-toggle="modal" onclick="modalOpen({{study_reply.pk}});">
                                수정하기
                            </a>
                            <div class="modal fade" id="{{study_reply.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'community:update_reply' study_reply.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="reply" placeholder="댓글을 입력하세요">{{study_reply.content}}</textarea>
                                        </div>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" type="submit" value="수정완료">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <!-- <a href="{% url 'community:update_reply' study_reply.pk %}">수정하기</a> -->
                            {% endif%}
                            {% if request.user == study_reply.user or request.user == study.user%}
                            <a href="{% url 'community:delete_reply' study_reply.pk %}" onclick="return confirm('댓글을 삭제하시겠습니까?');">삭제하기</a>
                            <br>
                            {% endif%}
                            
                            {% endifequal %}
                            {% endfor %}
                            <form method="POST" action="{% url 'community:create_reply' study.id %}">
                                {% csrf_token %}
                                <div class="reply">
                                    <textarea class="form-control" id="exampleFormControlTextarea3" rows="2" name="reply" placeholder="댓글을 입력하세요"></textarea>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <input class="btn btn-light btn-sm" type="submit" value="작성완료">
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div v-else-if="selectedContent === 2">
                    <div>
                        {% for teamplay in teamplays %}
                        <div class="board-list">
                            <h4 class="user-name" style="color:cornflowerblue" @click="messageModalOpen({{teamplay.user.id}})">작성자: {{teamplay.user}}</h4>

                            <div class="modal fade" id="{{teamplay.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{teamplay.user}}님에게 쪽지 보내기</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'community:create_message' teamplay.user.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" placeholder="쪽지를 입력하세요"></textarea>
                                        </div>
                                        <input style="display:none;" type="text" name='lecture_pk' value={{lecture_pk}}>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" type="submit" value="작성완료">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right;">
                            <h6>
                            작성일: {{teamplay.created_at|date:'Y년 m월 d일 H시 i분'}}
                            <!-- &nbsp;&nbsp;&nbsp; -->
                            <!-- 댓글수: {{teamplay.hits}} --><br>
                            {% if request.user == teamplay.user %}
                            <a href="{% url 'community:update_board' teamplay.pk %}">수정하기</a>
                            <a href="{% url 'community:delete_board' teamplay.pk %}" onclick="return confirm('해당 팀플 게시물을 삭제하시겠습니까?');">삭제하기</a>
                            {% endif%}
                            </h6>
                            </div>
                            <h4>
                            <strong style="color:black">제목: {{teamplay.title}}</strong></h4><br>
                            <h5>
                            {{teamplay.content}}<br></h5>
                            <!-- 좋아요 수: {{teamplay.good}}<br>
                            모집 완료 여부: {{teamplay.is_completed}}<br></h5> -->
                            <hr>
                            {% for teamplay_reply in teamplay_replys %}
                            {% ifequal teamplay_reply.board teamplay %}
                            <strong class="user-name" style="color:black" @click="messageModalOpen({{teamplay_reply.user.id}})">{{teamplay_reply.user}}</strong>

                            <div class="modal fade" id="{{teamplay_reply.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{teamplay_reply.user}}님에게 쪽지 보내기</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'community:create_message' teamplay_reply.user.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" placeholder="쪽지를 입력하세요"></textarea>
                                        </div>
                                        <input style="display:none;" type="text" name='lecture_pk' value={{lecture_pk}}>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" type="submit" value="작성완료">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            &nbsp;&nbsp;{{teamplay_reply.content}}<br>
                            {% if request.user == teamplay_reply.user %}
                            <a style="color:blue" data-toggle="modal" onclick="modalOpen({{teamplay_reply.pk}});">
                                    수정하기
                                </a>
                                <div class="modal fade" id="{{teamplay_reply.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="{% url 'community:update_reply' teamplay_reply.id %}">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="reply" placeholder="댓글을 입력하세요">{{teamplay_reply.content}}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-primary" type="submit" value="수정완료">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            <!-- <a href="{% url 'community:update_reply' teamplay_reply.pk %}">수정하기</a> -->
                            {% endif%}
                            {% if request.user == teamplay_reply.user or request.user == teamplay.user%}
                            <a href="{% url 'community:delete_reply' teamplay_reply.pk %}" onclick="return confirm('댓글을 삭제하시겠습니까?');">삭제하기</a>
                            <br>
                            {% endif%}
                            {% endifequal %}
                            {% endfor %}
                            <form method="POST" action="{% url 'community:create_reply' teamplay.id %}">
                                {% csrf_token %}
                                <div class="reply">
                                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="2" name="reply" placeholder="댓글을 입력하세요"></textarea>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input class="btn btn-light btn-sm" type="submit" value="작성완료">
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div v-else-if="selectedContent === 3">
                    <div>
                        {% for review in reviews %}
                        <div class="board-list">
                            <h4 class="user-name" style="color:cornflowerblue" @click="messageModalOpen({{review.user.id}})">작성자: {{review.user}}</h4>

                            <div class="modal fade" id="{{review.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{review.user}}님에게 쪽지 보내기</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'community:create_message' review.user.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" placeholder="쪽지를 입력하세요"></textarea>
                                        </div>
                                        <input style="display:none;" type="text" name='lecture_pk' value={{lecture_pk}}>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" type="submit" value="작성완료">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            <div style="text-align: right;">
                            <h6>
                            작성일: {{review.created_at|date:'Y년 m월 d일 H시 i분'}}
                            <!-- &nbsp;&nbsp;&nbsp; -->
                            <!-- 댓글수: {{review.hits}} --><br>
                            {% if request.user == review.user %}
                            <a href="{% url 'community:update_board' review.pk %}">수정하기</a>
                            <a href="{% url 'community:delete_board' review.pk %}" onclick="return confirm('해당 강의 후기 게시물을 삭제하시겠습니까?');">삭제하기</a>
                            {% endif%}
                            </h6>
                            </div>
                            <h4>
                            <strong style="color:black">제목: {{review.title}}</strong></h4><br>
                            <h5>
                            {{review.content}}<br></h5>
                            <!-- 좋아요 수: {{review.good}}<br>
                            모집 완료 여부: {{review.is_completed}}<br></h5> -->
                            <hr>
                            {% for review_reply in review_replys %}
                            {% ifequal review_reply.board review %}
                            <strong class="user-name"  style="color:black" @click="messageModalOpen({{review_reply.user.id}})">{{review_reply.user}}</strong>

                            <div class="modal fade" id="{{review_reply.user.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{review_reply.user}}님에게 쪽지 보내기</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <form method="POST" action="{% url 'community:create_message' review_reply.user.id %}">
                                        {% csrf_token %}
                                        <div class="modal-body">
                                            <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="message" placeholder="쪽지를 입력하세요"></textarea>
                                        </div>
                                        <input style="display:none;" type="text" name='lecture_pk' value={{lecture_pk}}>
                                        <div class="modal-footer">
                                            <input class="btn btn-primary" type="submit" value="작성완료">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            </div>
                            &nbsp;&nbsp;{{review_reply.content}}<br>
                            {% if request.user == review_reply.user %}
                            <a style="color:blue" data-toggle="modal" onclick="modalOpen({{review_reply.pk}});">
                                    수정하기
                                </a>
                                <div class="modal fade" id="{{review_reply.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">댓글 수정</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form method="POST" action="{% url 'community:update_reply' review_reply.id %}">
                                            {% csrf_token %}
                                            <div class="modal-body">
                                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="4" name="reply" placeholder="댓글을 입력하세요">{{review_reply.content}}</textarea>
                                            </div>
                                            <div class="modal-footer">
                                                <input class="btn btn-primary" type="submit" value="수정완료">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            <!-- <a href="{% url 'community:update_reply' review_reply.pk %}">수정하기</a> -->
                            {% endif%}
                            {% if request.user == review_reply.user or request.user == review.user%}
                            <a href="{% url 'community:delete_reply' review_reply.pk %}" onclick="return confirm('댓글을 삭제하시겠습니까?');">삭제하기</a>
                            <br>
                            {% endif%}
                            {% endifequal %}
                            {% endfor %}
                            <form method="POST" action="{% url 'community:create_reply' review.id %}">
                                {% csrf_token %}
                                <div class="reply">
                                        <textarea class="form-control" id="exampleFormControlTextarea3" rows="2" name="reply" placeholder="댓글을 입력하세요"></textarea>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <input class="btn btn-light btn-sm" type="submit" value="작성완료">
                                </div>
                            </form>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  axios.defaults.xsrfCookieName = 'csrftoken';
  axios.defaults.xsrfHeaderName = 'X-CSRFToken';

  var vm = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
      selectedContent: 1
    },
    methods: {
        selectCategory(num){
            this.selectedContent = num;
        },
        messageModalOpen(user){
            $("#" + user).modal();
        }
    },
  })
</script>
<script>
function noEvent() { // 새로 고침 방지
        if (event.keyCode == 116) {
            alert("새로고침을 할 수 없습니다.");
            event.keyCode = 2;
            return false;
        } else if (event.ctrlKey
                && (event.keyCode == 78 || event.keyCode == 82)) {
            return false;
        }
    }
document.onkeydown = noEvent;

function modalOpen(x){
    $("#" + x).modal();
}

</script>
{% endblock extra-script %}