{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div>
    <h2>강의 검색창</h2>
    <select>
        <option value="강의명">강의명</option>
        <option value="교수명">교수명</option>
        <option value="이수구분">이수구분</option>
        <option value="학년">학년</option>
    </select>
    <input>
    <a class="navbar-brand" href="#" style="font-size:25px;">
        <button type="button" class="btn btn-primary">
            검색하기
        </button>
    </a>
    <br/><br/>
    {% for lecture in lectures %}
        강의명: {{lecture.lecture_name}}<br>
        교수명: {{lecture.professor_name}}<br>
        과목번호-분반: {{lecture.lecture_number}}
        <br/><br/>
    {% endfor %}
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
{% endblock extra-script %}