{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container" id="app">
    <h2>게시판 수정페이지 입니다</h2>
    <form action="{% url 'community:complete_update_board' board_pk %}" method="POST">
        {% csrf_token %}
        강의: {{selected_board.lecture}}<br>
        분류: {{selected_board.board_category}}<br>
        제목: <input type="text" name="title" value="{{selected_board.title}}"><br><br>
        내용: <textarea name="content">{{selected_board.content}}</textarea><br><br>
        <input style="display:none" type="text" name='board_pk' value={{board_pk}}>
        <input class="btn btn-primary btn-sm" type="submit" value="수정완료">
    </form>
    <a href="{% url 'community:lecture_detail' lecture_pk %}"><button class="btn btn-success btn-sm">게시판 바로가기</button></a>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  axios.defaults.xsrfCookieName = 'csrftoken';
  axios.defaults.xsrfHeaderName = 'X-CSRFToken';

  var vm = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
    },
    methods: {
    }
  })
</script>
{% endblock extra-script %}