{% extends 'base.html' %}

{% load staticfiles %}

{% block extra-style %}
<style>
  h1, h2{
    font-family: 'Song Myung', serif;

}
strong{
    color:cornflowerblue;
}

.user-name:hover {
  color: #81c147 !important;
}
</style>
{% endblock extra-style %}

{% block navbar%}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="container" id="app">
    <form action="{% url 'community:complete_update_board' board_pk %}" method="POST">
        {% csrf_token %}
        <br><br>
        <h2 style="text-align: center;"><strong>{{selected_board.lecture}}</strong> 게시글 수정</h2><br>
        <strong style="color:darkgray">분류</strong>
        {{selected_board.board_category}}<br><br>

        <strong style="color:darkgray">모집 완료 여부</strong>
        <select name='is_completed'>
            <option value="미완료">미완료</option>
            <option value="완료">완료</option>
        </select>
        <br><br>

        <strong style="color:darkgray">제목</strong>
        <textarea class="form-control" id="exampleFormControlTextarea3" rows="1" name="title" placeholder="제목을 입력하세요">{{selected_board.title}}</textarea><br>
        <strong style="color:darkgray">내용</strong> 
        <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"  name="content" placeholder="내용을 입력하세요">{{selected_board.content}}</textarea><br><br>
        <input style="display:none" type="text" name='board_pk' value={{board_pk}}>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input class="btn btn-success btn-sm" type="submit" value="수정완료">
        <a href="{% url 'community:lecture_detail' lecture_pk %}"><button class="btn btn-primary btn-sm">게시판 바로가기</button></a>
    </form>
</div>
{% endblock content %}

{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  axios.defaults.xsrfCookieName = 'csrftoken';
  axios.defaults.xsrfHeaderName = 'X-CSRFToken';

  var vm = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    data: {
    },
    methods: {
    }
  })
</script>
{% endblock extra-script %}